.text-field {
    -fx-background-color: transparent;
}


.button
{
-fx-background-color : #05071F;
-fx-text-fill : #e7e5e5;
}
.button:hover{
    -fx-background-color : #798081;
    /*-fx-background-color : #10165F;*/
}
.button:pressed
{
    /*-fx-background-color : #1620A1;*/
    -fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #BBD2E1;
    /*-fx-background-color: #BBD2E1;*/
    /*-fx-background-color: #02030A;*/
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    /*-fx-background-color: #10165F;*/
    -fx-background-color: #463F32;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
